[Unit]
Description=Confidential Containers Attestaion Agent Simple Client
Before=cryptsetup.target
Before=initrd-switch-root.target
Before=ignition-complete.target
Before=systemd-cryptsetup@root.service
After=network-online.target
After=dev-disk-by\x2dlabel-boot.device
After=ignition-files.service
Wants=network-online.target
Requires=dev-disk-by\x2dlabel-boot.device

[Service]
SyslogLevel=debug
Type=oneshot
ExecStart=/usr/bin/aa-client-service.sh
MountFlags=slave