[Unit]
Description=Confidential Containers Attestation Agent Client
Before=cryptsetup.target
Before=initrd-switch-root.target
Before=ignition-complete.target
Before=systemd-cryptsetup@root.service
After=network-online.target
After=dev-disk-by\x2dlabel-boot.device
After=ignition-files.service
Wants=network-online.target
Requires=dev-disk-by\x2dlabel-boot.device

[Service]
Type=oneshot
ExecStart=/usr/libexec/aa-client
# Should not be needed
# SyslogLevel=debug
# MountFlags=slave
