[Unit]
Description=Trustee KBS client container
After=key-generation.container

[Container]
ContainerName=kbs-client
Image=quay.io/afrosi_rh/kbs-client-image:latest
Network=trustee.network
Volume=user-keys:/opt/confidential-containers/kbs/user-keys
Exec=tail -f /dev/null

[Install]
WantedBy=default.target
